.App {
  text-align: center;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* Background Video */
.background-video {
  position: fixed; /* Keeps the video in the background as you scroll */
  top: -190px;
  left: 0;
  width: 100%;
  height: 130%;
  object-fit: cover;
  z-index: -1;
}

/* Text with Mix-Blend-Mode */
.blended-text {
  position: absolute;
  bottom: 200px; /* Adjust this value to control the distance from the bottom */
  left: 300px;   /* Adjust this value to control the distance from the left */
  color: white; /* Set color to white for better visibility */
  font-size: 5rem;
  max-width: 700px;
  z-index: 3;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  mix-blend-mode: difference;
  transform: scale(1.4);
}

.connecting{
  position: absolute;
  left: 45%;
  color: white; /* Set color to white for better visibility */
  font-size: 5rem;
  z-index: 3;
  margin-top: 650px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  transform-origin: center; /* Center the scaling effect */
  transition: transform 0.1s ease-out; /* Smooth scaling */
}

.example{
  position: absolute;
  color: white; /* Set color to white for better visibility */
  font-size: 3rem;
  z-index: 3;
  left: 35%;
  margin-top: 1400px;
  transform-origin: center; /* Center the scaling effect */
  transition: transform 0.1s ease-out; /* Smooth scaling */
}
.card-slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card-slider {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 20;
}

.card-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
  text-align: center;
}

.card-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .card-container {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .card-container {
    height: 500px;
  }
}


.card-image {
  width: 100%; /* Set width for the image container */
  height: auto; /* Adjust height as needed, or keep it dynamic */
  border-radius: 10px 0 0 10px; /* Rounded corners on the left */
}

.card-content {
  padding: 20px;
  color: white;
  width: 100%; /* Set width for the content container */
  height: 100%;
  gap: 300px;
  display: flex;
  flex-direction: row;
  border-radius: 0 10px 10px 0; /* Rounded corners on the right */
}

.card-headline {
  font-size: 1.5rem;
  margin: 0 0 10px 0; /* Margin below the headline */
}

.card-link {
  color: #4CAF50;
  text-decoration: none;
}


.card-slider .card-container {
  transition: transform 1s ease-in-out; /* Smooth transition effect */
}
.card {
  position: relative;
  width: 100%;
  height: 400px; /* Set an appropriate height for the card */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin-top: 1900px;
  padding-top: 500px;
}
.overlay {
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7)  50%,
    rgba(0, 0, 0, 10) 100%
  );
  z-index: 2; /* Ensure it's above the video and below the text */
  pointer-events: none;
}
.eventext {
  font-size: 6rem;
  text-align: center;
  color: red;
  font-family: sans-serif;
  padding-top: 500px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.content {
  padding: 20px;
  height: 100vh;
}

.cuboid-container {
  perspective: 1000px;
  position: relative;
  width: 600px;
  height: 300px;
  margin: 50px auto;
}

.cuboid {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.cuboid-face {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}

.face-1 {
  gap: 20px;
  transform: rotateX(0deg) translateZ(150px);
}
.face-1::before, .face-3::before, .face-4::before{
  content: ''; /* Necessary for the pseudo-element */
  position: absolute; /* Positioning it absolutely within .face-2 */
  top: 0; /* Aligns to the top */
  left: 0; /* Aligns to the left */
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  background-image: url(/public/Greet.png); /* Background image */
  background-size: cover; /* Cover the entire area */
  background-repeat: no-repeat; /* Prevent repeating */
  filter: blur(8px); /* Apply blur to the background image */
  z-index: -1; /* Send it to the back */
}
.image-slider-container{
  align-items: center;
  justify-content: center;
  width: 100vh;
}
.face-image-1{
  margin-left: 20px;
  width: 40%;
  height: 80%;
  border-radius:50%;
  border: 2px solid red;
}
.face-image-2{
  margin-left: 20px;
  width: 50%;
  height: 80%;
  border-radius:50%;
  border: 2px solid red;
}

.face-image-3{
  margin-left: 20px;
  width: 40%;
  height: 80%;
  border-radius:50%;
  border: 2px solid red;
}

.face-image-4{
  margin-left: 20px;
  width: 40%;
  height: 80%;
  border-radius:50%;
  border: 2px solid red;
}
.face-2 {
  gap: 20px;
  transform: rotateX(90deg) translateZ(150px);
}
.face-2::before {
  content: ''; /* Necessary for the pseudo-element */
  position: absolute; /* Positioning it absolutely within .face-2 */
  top: 0; /* Aligns to the top */
  left: 0; /* Aligns to the left */
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  background-image: url(/public/Greet.png); /* Background image */
  background-size: cover; /* Cover the entire area */
  background-repeat: no-repeat; /* Prevent repeating */
  filter: blur(8px); /* Apply blur to the background image */
  z-index: -1; /* Send it to the back */
}

.face-3 {
  gap: 20px;
  transform: rotateX(180deg) translateZ(150px);
}

.face-4 {
  gap: 20px;
  transform: rotateX(270deg) translateZ(150px);
}

.stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400vh; /* Just for scrolling */
  position: relative;
  margin-top: 500px;
  color: white;
  padding: 50px;
}

.background-text {
  position: sticky;
  top: 200px;
  left: 200px;
  color: #ccc;
  font-size: 5rem;
  font-weight: bold;
  z-index: 6; /* Ensure background text stays behind the cards */
}
.background-texts {
  position: -webkit-sticky; /* For Safari support */
  position: sticky;
  top: 50vh;
  margin-bottom: 200px;
  color: #ED0000;
  transition: filter 0.3s ease;
  font-size: 5rem;
  font-weight: bold;
  z-index: 3; /* Ensure background text stays behind the cards */
}

.stack-card {
  position: sticky;
  top: 200px;
  margin: 50px 0;
  width: 400px;
  height: 250px;
  padding: 20px;
  min-height: 100px;
  background-color: #2A2A2B;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transform: scale(0.9) rotate(0deg); /* Start with a -15 degree rotation */
  z-index: 7;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.stack-card.active {
  opacity: 1;
  transform: scale(1) rotate(0deg); /* Rotate to 0 degrees when active */
  background-color: #2A2A2B;
  z-index: 8;
}

.stack-card.transparent {
  background-color: transparent;
  box-shadow: none;
  pointer-events: none;
}
.cards-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  padding-top: 300px;
}

.cardsss {
  position: relative;
  width: 300px;
  margin: 20px;
  max-width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
  border-radius: 10px;
  z-index: 7;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.background-text.blur {
  filter: blur(10px); /* Apply blur effect */
  opacity: 0.3; /* Fade out effect */
}
.cardsss:hover {
  transform: translateY(-10px); /* Add hover effect for some depth */
  cursor: url('/public/LINK.cur'), auto;
}

.cards-images {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Ensures the image fills the space */
  border-radius: 10px;
}

.cards-contents {
  padding: 10px 0;
  text-align: center;
}

.cards-contents h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #333;
}

.cards-contents p {
  font-size: 1rem;
  color: #666;
}

/* 10% border only on the corners */
.cardsss::before,
.cardsss::after {
  content: '';
  position: absolute;
  border: 2px solid #333; /* Corner border color */
  width: 10%;
  height: 10%;
}

.cardsss::before {
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-right: none;
  border-bottom: none;
}

.cardsss::after {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 10px;
  border-left: none;
  border-top: none;
}

.team{
  color: #ccc;
  text-align: center;
  position: relative;
  top: 200px;
  font-size: 4rem;
}

/* Styling for the hamburger icon */
.hamburger-icon {
  cursor: pointer;
  position: fixed;
  padding: 40px;
  mix-blend-mode: difference;
  z-index: 11;
}

/* Styling for the overlay navbar */
.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

/* Open state of the navbar */
.navbar-overlay.open {
  opacity: 1;
  visibility: visible;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* Menu items */
.navbar-menu {
  list-style-type: none;
  padding: 50px;
  padding-top: 100px;
}

.navbar-menu li {
  color: white;
  font-size: 3rem;
  margin: 20px 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-menu li:hover {
  color: #f0a500;
}


.nav-item.slide-in {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.application-form {
  display: flex;
  padding: 50px;
  flex-direction: column;
}



.application-form input,
.application-form select {
  padding: 8px;
  border: none; /* Remove all borders */
  border-bottom: 1px solid #ccc; /* Add only the bottom border */
  border-radius: 0; /* Remove border-radius if not needed */
}

.application-form input::placeholder{
  color: black;
}
.application-form input{
  width: 95%;
}
.application-form select{
  width: 98%;
}
.button {
  padding: 10px;
  background-color: #B22A2A;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #c31e1e;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.slider-track {
  display: flex;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}.slider-track {
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.left-to-right .slider-track {
  animation-name: slide-left-to-right;
}

.right-to-left .slider-track {
  animation-name: slide-right-to-left;
}

.left .slider-track {
  animation-name: slide-left;
}

@keyframes slide-left-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-right-to-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.slider-image {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.about-container {
  position: relative;
  top: 20px;
  width: 100%; /* Adjust the width as needed */
  max-width: 800px; /* Maximum width of the image */
  margin: auto; /* Center the container */
}

.about-image {
  width: 300px;
  height: auto; /* Maintain aspect ratio */
}


/* From Uiverse.io by alafshate */ 
.cardapp {
  width: 100vw;
  height: fit-content;
  background-color:transparent;
  display: flex;
  z-index: 50;
  padding: 25px 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  gap: 50px;
  justify-content: center;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}
.socialSvgs{
  width: 35px;
  height: 35px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

.socialContainer:hover .socialSvgs {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-normal-image{
  height: 70vh;
  width: 80vh;
  margin-left: -40px;
}



.blurred {
  filter: blur(5px); /* Apply the blur effect */
}

.paracolor{
  color: #000534;
}

.adding{
  background: transparent;
  display: flex;
  flex-direction: row;
}

/* TextDestruction.css */
.destruction-text {
  position: relative;
  color: white;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  filter: none; /* No filter initially */
}

/* Apply the destruction effect (pixelation) on hover */
.destruction-text:hover {
  filter: url(#pixelate); /* Apply the pixelation effect via SVG filter */
  transform: translateY(-10px) scale(1.1); /* Optional: scale and move up on hover */
  cursor: pointer;
  transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.diary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: pointer;
}

.book {
  width: 800px;
  height: 600px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Prevent overflow from flipping */
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 24px;
  background-color: white;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Smooth background transition */
}
.cover-content{
  position: relative;
  top: 100px;
  left: 30%;
}


/* Optional: Style for the swipe hint */
.flip-page .react-flip-page__swipe-hint {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 10px;
  border-radius: 5px;
}

.logo{
  width: 50px;
  height: 50px;
  position: relative;
}
.logos{
  width: 50px;
  height: 50px;
  margin: 5px;
  position: relative;
  z-index: 5;
}
.cover{
  position: relative;
  width: 100%;
  height: 100%;
}

.svg-position{
  position: relative;
  top: 20vh;
  transform: rotate(-30deg);
}

.imag-1{
  position: relative;
  top: 100px;
  width: 100px;
  height: 70px;
  transform: rotate(-15deg);
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50px;
  position: relative;
  align-items: center;
}

.intro1{
  width: 150px;
  height: 100px;
}

.team-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
}

.team-member{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.ankitamam{
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.team-1{
  justify-content: center;
  align-items: center;
}

.diary-event {
  padding: 20px;
  line-height: 1.6;
}

.diary-event p {
  text-align: justify;
  font-size: 0.5rem;
  position: relative;
}

.event-image {
  float: right;
  margin-left: 20px;
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}

.stack-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.stack-title{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.stack-head{
  position: relative;
  font-size: 0.9rem;
  max-width: 250px;
  top: -5px;
}
[id^='toggle-heart-'] {
  display: none; /* Use attribute selector to target all toggle hearts */
}

/* Change the color of the label when checked */
[id^='toggle-heart-']:checked + label {
  color: #e2264d;
  filter: none;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

/* Animation for before and after pseudo-elements */
[id^='toggle-heart-']:checked + label:before,
[id^='toggle-heart-']:checked + label:after {
  animation: inherit;
  animation-timing-function: ease-out;
}

/* Focus styles */
[id^='toggle-heart-']:focus + label {
  text-shadow: 0 0 3px white, 0 1px 1px white, 0 -1px 1px white, 1px 0 1px white, -1px 0 1px white;
}

/* Label styles */
[for^='toggle-heart-'] {
  align-self: center;
  position: relative;
  color: #888;
  font-size: 2em;
  filter: grayscale(1);
  user-select: none;
  cursor: pointer;
}

/* Pseudo-elements for label */
[for^='toggle-heart-']:before,
[for^='toggle-heart-']:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
}

/* Bubble effect before */
[for^='toggle-heart-']:before {
  box-sizing: border-box;
  margin: -2.25rem;
  border: solid 2.25rem #e2264d;
  width: 4.5rem;
  height: 4.5rem;
  transform: scale(0);
}

/* Sparkles effect after */
[for^='toggle-heart-']:after {
  margin: -0.1875rem;
  width: 0.375rem;
  height: 0.375rem;
  box-shadow: 2.8125rem*cos(-90deg)0.375rem*cos(-30deg) 2.8125rem*sin(-90deg)0.375rem*sin(-30deg) 0 -0.1875rem #ff8080, 2.8125rem*cos(-90deg)0.375rem*cos(150deg) 2.8125rem*sin(-90deg)0.375rem*sin(150deg) 0 -0.1875rem #ffed80, 2.8125rem*cos(-38.5714285714deg)0.375rem*cos(21.4285714286deg) 2.8125rem*sin(-38.5714285714deg)0.375rem*sin(21.4285714286deg) 0 -0.1875rem #ffed80, 2.8125rem*cos(-38.5714285714deg)0.375rem*cos(201.4285714286deg) 2.8125rem*sin(-38.5714285714deg)0.375rem*sin(201.4285714286deg) 0 -0.1875rem #a4ff80, 2.8125rem*cos(12.8571428571deg)0.375rem*cos(72.8571428571deg) 2.8125rem*sin(12.8571428571deg)0.375rem*sin(72.8571428571deg) 0 -0.1875rem #a4ff80, 2.8125rem*cos(12.8571428571deg)0.375rem*cos(252.8571428571deg) 2.8125rem*sin(12.8571428571deg)0.375rem*sin(252.8571428571deg) 0 -0.1875rem #80ffc8, 2.8125rem*cos(64.2857142857deg)0.375rem*cos(124.2857142857deg) 2.8125rem*sin(64.2857142857deg)0.375rem*sin(124.2857142857deg) 0 -0.1875rem #80ffc8, 2.8125rem*cos(64.2857142857deg)0.375rem*cos(304.2857142857deg) 2.8125rem*sin(64.2857142857deg)0.375rem*sin(304.2857142857deg) 0 -0.1875rem #80c8ff, 2.8125rem*cos(115.7142857143deg)0.375rem*cos(175.7142857143deg) 2.8125rem*sin(115.7142857143deg)0.375rem*sin(175.7142857143deg) 0 -0.1875rem #80c8ff, 2.8125rem*cos(115.7142857143deg)0.375rem*cos(355.7142857143deg) 2.8125rem*sin(115.7142857143deg)0.375rem*sin(355.7142857143deg) 0 -0.1875rem #a480ff, 2.8125rem*cos(167.1428571429deg)0.375rem*cos(227.1428571429deg) 2.8125rem*sin(167.1428571429deg)0.375rem*sin(227.1428571429deg) 0 -0.1875rem #a480ff, 2.8125rem*cos(167.1428571429deg)0.375rem*cos(407.1428571429deg) 2.8125rem*sin(167.1428571429deg)0.375rem*sin(407.1428571429deg) 0 -0.1875rem #ff80ed, 2.8125rem*cos(218.5714285714deg)0.375rem*cos(278.5714285714deg) 2.8125rem*sin(218.5714285714deg)0.375rem*sin(278.5714285714deg) 0 -0.1875rem #ff80ed, 2.8125rem*cos(218.5714285714deg)0.375rem*cos(458.5714285714deg) 2.8125rem*sin(218.5714285714deg)0.375rem*sin(458.5714285714deg) 0 -0.1875rem #ff8080;
}

@keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}

@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 2.25rem;
  }

  30%, 100% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 0;
  }
}

@keyframes sparkles {
  0%, 20% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    box-shadow: 2.25rem*cos(-90deg)0.375rem*cos(-30deg) 2.25rem*sin(-90deg)0.375rem*sin(-30deg) 0 0rem #ff8080, 2.25rem*cos(-90deg)0.375rem*cos(150deg) 2.25rem*sin(-90deg)0.375rem*sin(150deg) 0 0rem #ffed80, 2.25rem*cos(-38.5714285714deg)0.375rem*cos(21.4285714286deg) 2.25rem*sin(-38.5714285714deg)0.375rem*sin(21.4285714286deg) 0 0rem #ffed80, 2.25rem*cos(-38.5714285714deg)0.375rem*cos(201.4285714286deg) 2.25rem*sin(-38.5714285714deg)0.375rem*sin(201.4285714286deg) 0 0rem #a4ff80, 2.25rem*cos(12.8571428571deg)0.375rem*cos(72.8571428571deg) 2.25rem*sin(12.8571428571deg)0.375rem*sin(72.8571428571deg) 0 0rem #a4ff80, 2.25rem*cos(12.8571428571deg)0.375rem*cos(252.8571428571deg) 2.25rem*sin(12.8571428571deg)0.375rem*sin(252.8571428571deg) 0 0rem #80ffc8, 2.25rem*cos(64.2857142857deg)0.375rem*cos(124.2857142857deg) 2.25rem*sin(64.2857142857deg)0.375rem*sin(124.2857142857deg) 0 0rem #80ffc8, 2.25rem*cos(64.2857142857deg)0.375rem*cos(304.2857142857deg) 2.25rem*sin(64.2857142857deg)0.375rem*sin(304.2857142857deg) 0 0rem #80c8ff, 2.25rem*cos(115.7142857143deg)0.375rem*cos(175.7142857143deg) 2.25rem*sin(115.7142857143deg)0.375rem*sin(175.7142857143deg) 0 0rem #80c8ff, 2.25rem*cos(115.7142857143deg)0.375rem*cos(355.7142857143deg) 2.25rem*sin(115.7142857143deg)0.375rem*sin(355.7142857143deg) 0 0rem #a480ff, 2.25rem*cos(167.1428571429deg)0.375rem*cos(227.1428571429deg) 2.25rem*sin(167.1428571429deg)0.375rem*sin(227.1428571429deg) 0 0rem #a480ff, 2.25rem*cos(167.1428571429deg)0.375rem*cos(407.1428571429deg) 2.25rem*sin(167.1428571429deg)0.375rem*sin(407.1428571429deg) 0 0rem #ff80ed, 2.25rem*cos(218.5714285714deg)0.375rem*cos(278.5714285714deg) 2.25rem*sin(218.5714285714deg)0.375rem*sin(278.5714285714deg) 0 0rem #ff80ed, 2.25rem*cos(218.5714285714deg)0.375rem*cos(458.5714285714deg) 2.25rem*sin(218.5714285714deg)0.375rem*sin(458.5714285714deg) 0 0rem #ff8080;
  }
}
.likes-card {
  display: flex;
  flex-direction: column;
  position: relative;
  
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: auto; /* Pushes the card to the right side */
}


@media (max-width: 640px) {
  .blended-text{
    font-size: 2rem;
    position: relative;
    left: 100px;
    max-width: 200px;
  }
  .hero-section{
    position: relative;
    width: 100vh;
    top: 450px;
  }
  .hamburger-icon{
    width: 40px;
    height:40px;
    right: -20px;
    top: -30px;
    position: relative;
    float: right;
  }
  .background-video{
    width: 100vh;
  }
  .stack-container{
    height: 200vh;
    margin-top: 150px;
  }
  .connecting{
    margin-top: 50px;
    font-size: 2rem;
    overflow-x: hidden;
    transform-origin: left;
    position: relative;
    left: 100px;
  }
  .headline-container{
    font-size: 1rem;
  }
  .example{
    margin-top: 450px;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .background-texts{
    height: 30px;
    top: 0px;
    margin-bottom: 100px;
  }
  .background-text{
    padding-top: -20px;
    font-size: 2rem;
  }
  .stack-card{
    position: sticky;
    top: 20px;
    margin: 0px;
    padding: 10px;
    width: 120%;
  }
  .slider-image{
    width: 100px;
    height: 100px;
  }
  .joining{
    display: flex;
    width: 100vh;
    flex-direction: column;
  }
  .cardapp{
    width: 90vw;
  }
  .background-video {
    position: fixed; /* Keeps the video in the background as you scroll */
    top: -150px;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover;
    z-index: -1;
  }
}
.Mobile-Nav {
  display: flex;
  flex-direction: row; /* Change to row to place items side by side */
  justify-content: space-between; /* Ensure left and right alignment */
  align-items: center; /* Optional: Align items vertically if needed */
}

.mobile-nav{
  background-color: white;
  height: 60px;
}

.mobile-hero {
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: relative; /* Keep this relative to ensure the child absolute positioning works */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
  top: -60px;
  height: 300px;
  width: 100vw;
  z-index: 2; /* Place this above the .mobile-back-hero */
}

.mobile-back-hero {
  content: '';
  background: white; /* Or any background color */
  position: absolute; /* Set this as absolute to overlap with .mobile-hero */
  top: 70px; /* Ensure the top of both elements align */
  left: 0;
  width: 100%; /* Make sure it spans the entire width */
  clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
  height: 300px;
  z-index: 1; /* Lower z-index so it's behind the .mobile-hero */
}

.mobile-title{
  color: white;
  mix-blend-mode: difference;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.5rem;
}
.Mobile-event{
  justify-content: center;
  align-content: center;
  text-align: center;
}

.mobile-event-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 16px; /* Space between cards */
  padding: 16px;
}
.center-event {
  justify-content: center; /* Centers the card when there's only one */
}
.mobile-event-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-event-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.mobile-event-headline {
  font-size: 1.2rem;
  margin: 12px 0;
  color: #333;
}

.mobile-event-description {
  font-size: 0.7rem;
  color: #666;
}

@media (min-width: 640px) {
  .mobile-event-container {
    display: none; /* Hide the component on screens larger than mobile */
    flex-direction: row;
  }
}
.mobile-avtar{
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}

@media (max-width: 768px) {
  .transparent {
    display: none;
  }
}
.mobileForm{
  margin-left: 15px;
}

.span{
  justify-content: center;
  text-align: center;
}
.event-title{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* Prevent scrolling on the background */
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-height: 80vh; /* Limit the height of the modal content */
  overflow-y: auto; /* Enable scrolling within the modal content */
  width: 80vw;
  position: relative; /* For positioning the close button */
}

/* Fixed close button in the top-right corner */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.team-1 a{
  text-decoration: none;
  color: black;
}
.team-2 a{
  text-decoration: none;
  color: black;
}
.close-button:hover {
  color: red;
}

/* Example content styling */
.overlay-content h2 {
  margin-bottom: 10px;
}

.overlay-content p {
  margin-bottom: 20px;
}
